.day,.oscuro
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.day:hover
{
    outline: 1px solid blue;
    background-color: grey;
    color: white;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}
